@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "mixins/object-fit-images";

@import "pages/overzicht-vacatures";
@import "pages/vacancy-single";

@import "components/sticky-header-vacancy";
@import "components/cookieMessage";

@import "widgets/sendgrid";


html, body {
  height: 100%;
}

body {
  font: normal 14px/1.625 "Open Sans";
  font-weight: 400;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}

a.fa:hover {
  text-decoration: none;
}

h1, h2, h3 {
  line-height: 1.3;
}

h1 {
  font-size: 28px;
  font-weight: 100;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

.alignleft {
  float: left;
  margin-right: 10px;
}

.btn {
  border-radius: 0;
}

.btn-secondary,
.btn-secondary-hover:hover,
.label-secondary,
.bg-secondary {
  color: #fff;
}

.btn-primary-hover,
.btn-secondary-hover {
  background-color: white;
}

.site-header {
  margin-bottom: 15px;
}

.header-right,
.header-left {
  text-align: center;
}

.header-right .widget {
  margin-top: 15px;
}

@media (min-width:768px) {
  .header-left {
    text-align: left;
  }

  .header-right {
    text-align: right;
  }

  .header-right .widget {
    margin-top: 0;
  }
}

nav.navbar-default {
  border-radius: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: transparent;
}

nav.navbar-default .logo img {
  max-height:50px;
}

@media (min-width:768px) {
  nav.navbar-default {
    height: 70px;
    position: fixed;
    z-index: 99;
  }

  nav.navbar-default .logo img {
    max-height:70px;
  }
}

.navbar-default .navbar-collapse {
  padding:0;
}

.navbar-nav {
  margin: 7.5px 0;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width:768px) {
  .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

body .navbar-nav {
  margin: 0;
}

main {
  display: block;
}

@media (min-width:768px) {
  main {
    padding-top:70px;
  }
}

#pageheader {
  padding: 16% 0 16%;
  text-align: center;
}

#pageheader h1,
#pageheader h2,
#pageheader p {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
}

#pageheader h1 {
  font-size:50px;
  padding-top: 35px;
  padding-bottom: 54px;
}

#pageheader h2 {
  font-size:26px;
}

#pageheader p {
  font-size:18px;
}

section#homepage,
section#custom-page {
  & > .widget {
    padding-top:60px;
    padding-bottom: 80px;

    &.widget_media_image {
      padding-top: 0;
      padding-bottom: 0;
    }

  }
}

section#homepage,
section#custom-page {
  .widget-title {
    text-align:center;
    margin-bottom:25px;
  }
}

section#homepage,
section#custom-page {
  .widget_too_google_maps {
    padding:0;
  }
}

section#homepage,
section#custom-page {
  .widget_too_google_maps .widget-container .container {
    width:100%;
    padding:0;
  }
}

section#homepage,
section#custom-page {
  .widget_too_google_maps .widget-container .container .col-md-12 {
    padding:0;
  }
}

section#homepage,
section#custom-page {
  .widget_too_google_maps .widget-container .container .row {
    margin:0;
  }
}

section#homepage,
section#custom-page {
  .citw:nth-child(odd) img {
    float:right;
  }
}

section#homepage,
section#custom-page {
  ul.widget-iconlist > li {
    padding:15px;
  }
}

section#homepage,
section#custom-page {
  ul.widget-iconlist {
    text-align:center;
  }
}

section#homepage,
section#custom-page {
  ul.widget-iconlist .fa {
    font-size:40px;
    margin:0 15px;
    opacity: 0.5;
  }
}

section#homepage,
section#custom-page {
  ul.widget-iconlist .iconlist-title {
    display:block;
  }
}

@media (min-width:768px) {
  section#homepage,
  section#custom-page {
    ul.widget-iconlist {
      text-align: inherit;
    }
  }

  section#homepage,
  section#custom-page {
    ul.widget-iconlist > li {
      width: 50%;
      display: inline-block;
    }
  }

  section#homepage,
  section#custom-page {
    ul.widget-iconlist .fa {
      float: left;
    }
  }

  section#homepage,
  section#custom-page {
    ul.widget-iconlist .iconlist-title {
      line-height: 40px;
    }
  }

  section#homepage,
  section#custom-page {
    ul.widget-iconlist > li:nth-child(odd) {
      float: left;
      text-align: right;
    }
  }

  section#homepage,
  section#custom-page {
    ul.widget-iconlist > li:nth-child(odd) .iconlist-title {
      float: right;
    }
  }

  section#homepage,
  section#custom-page {
    ul.widget-iconlist > li:nth-child(odd) .fa {
      float: right;
    }
  }
}

.widget_too_google_maps iframe {
    pointer-events: none;
}

.image-text-widget-image {
  margin-bottom: 20px;
}

.widget_jobalerts {
  text-align: center;
  width: 100vw;
  max-height: 700px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  object-fit: cover;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #cbe9f7;
  color: #000;
}

.widget_jobalerts .container .row h2,
.widget_jobalerts .container .row p {
  color: #000 !important;
}

footer #footer .widget_jobalerts a {
  color: #f89828;
}

#my-modal .modal-header {
  background-color: #e5e5e5;
  padding: 15px 30px;
}
#my-modal .modal-title {
  display: inline;
}

#my-modal .modal-content {
  border-radius: 0;
  text-align: left;
}

#my-modal .modal-body {
  padding: 15px 30px;
}

.jobalertsEmail {
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 0;
  padding: 20px 10px;
}

.widget_jobalerts form {
  margin-top: 60px;
}

.widget_jobalerts .btn {
  width: 100%;
  padding: 10px 10px;
}

@media screen and (min-width: 768px) {
  .jobalertsEmail.form-control {
    width: 40%;
  }

  .widget_jobalerts .btn {
    width: auto;
  }
}

.wp-caption.alignnone {
  width: auto !important; // reset tinyMCE inline styling
}

img.size-full {
  width: 100vw;
  max-width: none !important; /*override inline css*/
  max-height: 700px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  object-fit: cover;
  @include object-fit(cover);
}

.vacature-list {
  padding:10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.vacature-list:last-child {
  border-bottom-width: 0;
}

@media (min-width:768px) {
  .vacature-list ul > li + li:before,
  .vacature-single #content-header ul > li + li:before {
    content: "|";
    padding: 0 8px;
  }

  .vacature-single #content-header {
    margin-bottom: 50px;
  }

  .vacature-list ul > li,
  .vacature-single #content-header ul > li {
    display: inline;
    white-space: nowrap;
  }
}

.vacature-single #content-header ul {
  margin: 20px 0 40px;
}

.vacature-single #content-header {
  padding-bottom: 60px;
}

.vacature-list .btn {
  margin-top: 30px;
}

.vacature #content ul {
  padding-left: 20px;
  list-style: initial;

  li {
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }
}

body.single-vacancy .widgets-right .widget {
  padding:8%;
  margin:4% 0;
}

body.single-vacancy .widgets-right .widget:last-child {
  background-color:white;
}

body.single-vacancy .widgets-right .widget h2 {
  margin-top: 0;
}

#applyForm .form-allowed-tags {
  color:#949494;
  font-weight:normal;
  font-size:12px;
}

.btn-upload,
.label-upload {
  position: relative;
  padding:10px 20px;
}

.btn-upload input,
.label-upload input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}

.label-upload {
  padding: 4px;
  background: #FFF;
  border-radius: 3px;
}

.label-upload:before {
  font-family: "icons";
  font-size: 23px;
  font-weight: 400;
  color: #407cd5;
  font-style: normal;
  display: block;
  content: '\e836';
  line-height: 23px;
}

.label-upload:hover {
  background: #f2f2f2;
}

@media screen and (min-width: 768px) {
  .label-upload:before {
    content: '\e837';
  }
}

.vacature #content ul.list-input-file {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 -4px -8px -4px;
}

.list-input-file li.input-file {
  margin: 0 4px 8px 4px;
}

.list-input-file li.input-file:not(.has-file) .file-info {
  display: none;
}

.list-input-file li.input-file.has-file {
  display: inline-block;
  vertical-align: bottom;
}

.list-input-file li.input-file.has-file input {
  visibility: hidden;
}

.list-input-file li.input-file.has-file .btn {
  visibility: hidden;
  width: 0px;
  height: 0px;
  padding: 0px;
  min-width: 0px;
}

.list-input-file li.input-file.has-file + .input-file:not(.has-file) {
  margin-top: 8px;
}

.list-input-file li.input-file input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.list-input-file li.input-file .file-info {
  display: inline-block;
  padding: 7px 0 7px 6px;
  background: #f0f0f0;
  border-radius: 3px;
}

.list-input-file li.input-file .file-name {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  color: #555555;
}

.list-input-file li.input-file .file-name:before {
  margin-right: 4px;
  font-size: 24px;
  line-height: 24px;
  color: #555555;
}

.list-input-file li.input-file .icon-remove {
  background: none;
  border: none;
  margin-left: 40px;
  padding: 0 6px;
  color: #949494;
}

.list-input-file li.input-file .icon-remove:before {
  margin-right: 4px;
}

section#vacancy-top {
  margin-top: -50px;
  margin-bottom: 20px;
}

section#vacancy-under {
  padding: 30px 0 0;
  margin-bottom: -25px;
}

.widget_follow_us,
.widget_share_vacancy {
  line-height: 36px;
}

.widget_follow_us ul > li,
.widget_share_vacancy ul > li {
  display: inline-block;
  margin-right: 3%;
}

.widget_follow_us a.fa,
.widget_share_vacancy a.fa {
  color: white;
  display: block;
  width: 36px;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
}

footer #footer .widget_follow_us a.fa,
footer #footer .widget_share_vacancy a.fa {
  background-color: #fff;
}

.site-header .widget_follow_us > strong,
.site-header .widget_share_vacancy > strong,
.site-header .widget_follow_us > ul,
.site-header .widget_share_vacancy > ul {
  display: inline;
}

.site-header .widget_follow_us > strong,
.site-header .widget_share_vacancy > strong {
  margin-right: 3%;
}

textarea#motivation {
  height:200px;
}

footer {
  margin-top: 25px;
}

body.post-type-archive-vacancy footer,
body.home footer {
  margin-top: 0;
}

footer #footer {
  padding: 75px 0;
  color: white;
}

footer #footer h2 {
  margin-top:0;
}

footer #footer h2,
footer #footer a,
footer #footer p {
  color: white;
}

footer #poweredby {
  padding: 10px 0;
  background: white;
  color: black;
  font-size: 12px;
}

footer #poweredby img {
    height: 20px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}


@media (max-width: 768px) {
  .navbar-collapse {
    background: #fff;
  }
  .navbar-nav li a {
    padding: 15px 30px;
  }
}

.widget_too_google_maps .iframe-flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}
.widget_too_google_maps .iframe-flexible-container iframe,
.widget_too_google_maps .iframe-flexible-container object,
.widget_too_google_maps .iframe-flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
}

/* =====================================================================================================================
*   search and filters vacancy
* =================================================================================================================== */
.list-filter-categories li {
  position: relative;
  background: transparent;
}

.background-light-blue {
  background-color: #cbe9f7;
  padding: 20px 0;
  display: none;
}

.background-light-gray {
  background-color: #f49712;
  padding: 20px 0 0;
}

.collapse-toggle-submenu {
  position: relative;
  padding-right: 15px;
}
.collapse-toggle-submenu:after {
  content: "\203A";
  transform: rotate(-90deg);
  transform-origin: 50%;
  transition: transform 300ms linear;
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  display: block;
  width: 10px;
  height: 10px;
  line-height: 0.4;
  text-align: center;
}
.collapse-toggle-submenu.collapsed:after {
  content: "\203A";
  transform: rotate(90deg);
}

.list-filter-options label {
  font-size: 14px;
  font-weight: 400;
}
.list-filter-options input {
  margin-right: 10px;
}

#filter-bar {
  .list-filter-options {
    text-align: left;
  }
  li.panel a {
    font-size: 18px;
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .collapse-toggle-submenu {
    display: block;
  }

  #filter-bar .btn {
    margin-top: 10px;
  }

  .list-filter-options {
    border-top: 1px solid #ccc;
  }

  .section-btn-apply {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {

  .list-filter-options {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-control {
    display: inline;
    width: 90%;
  }

  .list-filter-categories li {
    display: inline;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  .list-filter-categories > li:not(:last-child) {
    margin-right: 20px
  }

  .section-filter-options {
    position: absolute;
    left: 0;
    min-width: 300px;
    max-height: 316px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,.32);
    z-index: 800;
    overflow-y: scroll;
  }

  #section-filters-main-wrapper {
    height: auto !important; /*overrule bootstrap JS*/
    display: block !important; /*overrule bootstrap JS*/
  }

  a.collapse-toggle.collapse-toggle-sm {
    display: none !important; /*overrule bootstrap JS*/
  }

}

@media screen and (max-width: 767px) {
  a.collapse-toggle.collapse-toggle-sm {
    display: block;
    padding-bottom: 20px;
  }

  .screen-reader-text {
    display: none;
  }

  .custom-check-radio label {
    padding: 0 0 0 20px;
    position: relative;
  }

  .custom-check-radio input {
    float: left;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .widget_media_image .wp-caption-text {
    display: none;
  }

  .widget_sa_slider p {
    text-align: center;
  }

  .page-title {
    font-weight: 400;
  }

  #section-filters-main-wrapper {
    text-align: right;
  }
}

.widget_sa_slider {
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
  .white {
    padding: 0 !important;
  }
}

.wp-caption.alignnone {
  width: auto !important;
}

#homepage,
#custom-page {
  .widget_recent_vacancies_large + .widget_custom_html {
    background-color: #fff !important;
    padding: 0 0 80px;
  }
}

section#homepage,
section#custom-page {
  ul.widget-iconlist>li .iconlist-title p {
    margin-top: 0;
  }
}

section#homepage,
section#custom-page {
  ul.widget-iconlist .fa {
    color: #f49712;
    opacity: 1;
  }
}

.widget_jobalerts form {
  margin-top: 60px
}

.widget_jobalerts .btn {
  padding: 10px 10px
}

.post-type-archive-vacancy h1.page-title {
  color: #000;
  font-size: 30px;
  font-weight: 200;
  padding-top: 50px;
  padding-bottom: 30px;
}

.widget_share_vacancy a.fa.fa-envelope-o {
  @media screen and (min-width: 768px) {
    margin-left: -7px;
  }
}

.widget_share_vacancy a.fa.fa-whatsapp {
  &:before {
    font-size: 17px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.entry-title {
  color: #000;
  font-weight: 400;
  padding-top: 50px;
  font-size: 38px;
}

#content-header li {
  font-size: 18px;
}

.single-vacancy .widget_vacancy_contact {
  font-size: 18px;
}

#section-filters-main-wrapper {
  padding: 0 10px;
  text-align: left;
}
@media screen and (min-width: 767px) {
  #section-filters-main-wrapper {
    text-align: right;
  }
}
@media screen and (max-width: 767px) {
  .collapse-toggle-submenu {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  .collapse-toggle-submenu {
    display: inline;
  }
}

.page-title {
  line-height: 40px;
  .smaller_font {
    display: block;
    font-size: 24px;
  }
}

.collapse-toggle.collapse-toggle-sm {
  color: #fff;
}

.vacature-list {

  .text-right {
    text-align: center;
  }

  @media screen and (max-width: 575px) {

    .btn {
      width: 100%;
    }

  }
}

.list-filter-categories>li:not(:last-child) {
  margin-right: 50px;
}

.vacature_archive .vacature_header {
  position: relative;
  h2 {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9;
    left: 50%;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }

  img {
    max-height: 400px;
    font-family: 'object-fit:cover;';
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.widget .widget_subtitle {
  text-align: center;
}

.vacature #content ul li {
  list-style-type: disc !important;
}

.vacature-single .widget_apply_button {
  margin-bottom: 60px;
}
