.vacature-single .sticky-header {
  height: 50px;
  position: fixed;
  top: -70px;
  width: 100%;
  z-index: 98;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-top: 1px solid #eee;
  transition: top 300ms ease-in-out;
  @media screen and (min-width: 991px) {
    height: 71px;
  }

  .container {
    height: 100%;
  }

  h1 {
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    max-width: calc(100% - 90px);
    font-size: 14px;
    line-height: 1.3;

    @media screen and (min-width: 991px) {
      font-size: 20px;
    }

  }

  .btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;

    @media screen and (min-width: 991px) {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
    }
  }

  &.is-active {
    top: 0;
    @media screen and (min-width: 768px) {
      top: 70px;
    }

    .admin-bar & {
      top: 0;
      @media screen and (min-width: 601px) {
        top: 46px;
      }
      @media screen and (min-width: 768px) {
        top: 116px;
      }
      @media screen and (min-width: 783px) { // thanks to the adminbar
        top: 102px;
      }
    }

  }
}
