<template>
    <div class="content--inner section--domain">
        <label for="domain">Domeinnaam</label>
        <input type="text"
               v-model="domain"
               placeholder="Domeinnaam.nl">
        <div class="clear-grid"></div>
    </div>
</template>

<script>
export default {

    data() {
        return {
            domain: null,
            data: null
        }
    }
}
</script>
