.widget_sendgrid_nlvx_widget {

  .widget-title,
  h2,
  .sendgrid_widget_text {
    text-align: left;

    @media screen and(min-width: 545px) {
      text-align: center;
    }
  }

  form {
    max-width: 480px;
    margin: auto;
  }

  .sendgrid_mc_label_div {
    margin: 0;
    color: #000;
    display: none;
  }

  .sendgrid_mc_input_email {
    border-width: 1px !important; //overrule sendgrid !important style
    padding: 10px 8px;
    height: 40px;
    width: 100%;
    cursor: default !important; //overrule sendgrid !important style
  }

  .sendgrid_mc_input_div {
    width: 100%;
    @media screen and(min-width: 545px) {
      width: calc(100% - 100px);
      max-width: 380px;
      float: left;
    }

  }

  .sendgrid_mc_button_div {

    width: 100%;
    @media screen and(min-width: 545px) {
      width: 100px;
      float: left;
    }

    input {
      height: 40px;
      display: inline-block;
      margin: 0 !important; /*overrule inline sendgrid style*/
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 100%;
    }

  }

}
